<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Variables and assignment</li>
      <li>Data types and type conversion</li>
      <li>Built-in functions and help</li>
      <li>Conditionals</li>
      <li>Lists</li>
      <li>For loops</li>
      <li>List comprehensions</li>
      <li>Dictionaries</li>
      <li>Writing functions</li>
      <li>Variable scope</li>
      <li>Using libraries</li>
      <li>Reading tabular data into data frames</li>
      <li>Pandas data frames</li>
      <li>Matplotlib plotting</li>
      <li>Looping over data sets</li>
      <li>Using Python from the command line</li>
      <li>Programming Style</li>
      <li><a href="{{site.swc_pages}}/python-novice-gapminder/reference/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Types of Git repositories</li>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
</div>
